body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* Create Activity */
.createActivity{
/* border: 1px solid red; */
width: 100%;
display: flex;
flex-wrap: wrap;
}

.activityInput {
  width: 100%;
  height: 50px;
  resize: none;
  display: block;

}

.activityEntryButton{
  display: flex;
  background-color: #F6B141;
  margin-left: auto;
  margin-top: 10px;
}

/* Activity Feed */

.activityFeed {
  /* border: 1px solid blue; */
}

/* DashBoard */

.dashSection{
  border: 1px solid gray;
  height: 150px;
}

.dashboardHeader {
  font-size: 40px;
  font-family: 'Times', sans-serif;
  margin-bottom: 25px;
}


/* PreWorkSection */

.preWorkWrap {
  text-align: center;
}

.weeklyFolderWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.folderImage{
  height:35px;
  width: 35px;
  margin: 5px;
}

.weekLink{
  padding: 5px;
  font-size: 16px;
  text-decoration: none;
  font-family: 'Times', sans-serif;
}

.weekLink:hover{
  padding: 5px;
  text-decoration: none;
}

.weeklyFolder:hover{
  background-color: #FCDCAC;
  transform: scale(1.05);
  border-radius: 5px;
}

.weeklyFolder {
  display: inline-block;
  padding: 5px;
  justify-content: center;
}

/* Video Section */

.videoSectionWrap {
  text-align: center;

}

.weeklyVideoWrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-around;
  text-align: center;
  max-height: 400px;
  margin-bottom: 15px;
  overflow: scroll;
  overflow-y: scroll;
}

.videoInfo {
  margin-top: 3px;
  line-height: 5px;
  font-size: 12px;
}

video{
  border: 1px solid gray;
}
